.bottom-link  .webix_template{
    text-align: center;
} 
.list_color{
  background-color: #EEEEEE;
  font-weight: 500;
  
}
.list_color .webix_selected{
  background-color: #dddfe2;
}
.list_color .webix_img_btn{
  background-color: #EEEEEE;
  color: #288C48;
  font-weight: normal;
}
.list_color .webix_img_btn:hover{
  background-color: #EEEEEE;
  cursor: unset;
}
.webix_secondary .webix_button .webix_icon_btn {
  color: #288C48;
}


.myhover{
  background-color: #EEEEEE;
}
.rank{
  background-color: #F4F5F9;
}
.removeBtn{
  width:100%;
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  margin-top: 2.5px;
  background-color:#657584;
  color:white;
  cursor: pointer;
}

.webix_icon{
  float:right;
  cursor: default;
  height: 30px;
  line-height: 30px;
  text-align: center;
}